<style>
        body{
            margin: auto 0; /* html 태그 사이의 여백 조절 */
            background-color: beige; /* body 태그에 배경색 지정 */
        }

        h2{
            color:blue; /* 제목 글자색 변경 */
        }

        p{
            font-size: 20px;    /* p태그 기본 글자 크기 16px */
        }

        /* class highlight */
        .highlight {
            color: crimson;
            font-weight: bold;
        }

        .btn {
            border: none;
            padding: 10px 20px;
        }

    </style>