<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">

	<targets>
		<!-- 로그를 파일로 저장. -->
		<target name="logfile"
                xsi:type="File"
                fileName="logfile.txt"
                layout="${longdate} [${level:uppercase=true}] ${message} ${exception:format=tostring}" />

		<!-- 디버그 출력창에도 로그 표시. -->
		<target name="debug"
                xsi:type="Debugger"
                layout="${longdate} [${level:uppercase=true}] ${message}" />
	</targets>

	<rules>
		<!-- Info 이상 로그 파일에 저장. -->
		<logger name="*" minlevel="Info" writeTo="logfile" />

		<!-- Debug 이상 로그 Visual Studio 출력창에 표시. -->
		<logger name="*" minlevel="Debug" writeTo="debug" />
	</rules>
</nlog>